.lines {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.lines span {
    height: 1px;
    width: 120px;
    margin: 3px auto;
    border-radius: 8px;
    background-color: #1E799D !important;
}

.lines div {
    height: 1px;
    width: 200px;
    margin: 2px auto;
    border-radius: 8px;
    background-color: #1E799D !important;
}

.btnColor {
    background-color: transparent !important;
    color: #fff !important;
    border: 2px solid #1E799D !important;
    transition: all .03s;
}
.btnColor:hover {
    background-color: #1E799D !important;
    color: #fff !important;
}

