@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700;800&family=Poppins:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    direction: rtl !important;
    background-color: #131722;
}

a {
    text-decoration: none;
    transition: all 0.3s;
}

a:hover {
    color: #fff !important;
}




@media (max-width: 450px) {
    .footFlex {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
}